.portfolio {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.portfolio > .title {
  z-index: 11;
}

.portfolio > .content {
  position: relative;
  z-index: 11;
}

.projectMenu {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  line-height: 40px;
  flex-flow: wrap;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.projectMenuItem {
  text-overflow: clip;
  text-transform: uppercase;
  font-weight: 900;
  height: 9vw;
  line-height: 9vw;
  font-size: 6vw;
  letter-spacing: 1px;
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  transition-property: border-color;
  transition-duration: 200ms;
}
.projectMenuItem:hover {
  border-color: #fff;
}

.projectMenuItemDivider {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 9vw;
  padding: 0 2vw;
  width: 15vw;
}

.projectMenuItemDivider-white-space {
  flex: 1;
  min-height: 2px;
  background: #fff;
}

.questBackground,
.railsightBackground,
.richBackground,
.proximityBackground,
.uproarBackground,
.questBackground-visible,
.railsightBackground-visible,
.richBackground-visible,
.proximityBackground-visible,
.uproarBackground-visible {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(1.1);
  transition: opacity 400ms, transform 400ms;
  z-index: 10;
  opacity: 0;
}

.questBackground-visible,
.railsightBackground-visible,
.richBackground-visible,
.proximityBackground-visible,
.uproarBackground-visible {
  opacity: .8;
  transform: scale(1);
}

.scroll-to-portfolio {
  z-index: 4;
}

@keyframes backgroundChange {
  0% {
    background-size: 120%;
    -webkit-background-size: 120%;
  }
  100% {
    background-size: 100% contain;
    -webkit-background-size: 100%;
  }
}
