.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  box-sizing: border-box;
}

.modal__backdrop {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(3, 3, 3, .5);
  opacity: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.modal__backdrop--visible {
  opacity: 1;
  box-sizing: border-box;
}

.projectModalWindow {
  position: fixed;
  top: 15vh;
  bottom: 12vh;
  left: 15vw;
  right: 15vw;
  background: transparent;
  z-index: 6;
  box-sizing: border-box;
  overflow: hidden;
}

.projectModal-mediaSection {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;  
}

.projectModal-detailsSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 38vh;
  background: rgb(10, 10, 10);
  text-align: center;
  justify-content: center;
  color: #000000;
  box-sizing: border-box;
  line-height: 20vh;
}

.projectStatline {
  display: flex;
  flex-direction: column;
  width: 100%;  
  padding: 25px 20px 5px 20px;
  text-shadow: 0px .5px 2px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.projectStatline-tech,
.projectStatline-credits,
.projectStatline-date,
.projectStatline-link {
  display: flex;
  box-sizing: border-box;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 100;
  flex: 1;
}

.projectStat-catagory {
  color: rgba(255, 255, 255, 0.65);
}
.projectStat-catagoryContent {
  text-decoration: none;
  color: #fff;
  text-indent: 4px;
}

.projectDescription {
  display: flex;
  color: #fff;
  text-shadow: 0px .5px 2px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  align-self: baseline;
  width: 35%;
  margin: none;
  padding: 0 0 0 20px;
  font-size: 13px;
  line-height: 28px;
  font-weight: 100;
}

.go-to-project,
.go-to-project:hover {
  position: absolute;
  left: 100px;
  color: rgba(255, 255, 255, 1);
  width: 140px;
  height: 45px;
  line-height: 45px;
  font-weight: 100;
  font-size: 15px;
  transform: translateY(85vh);
  cursor: pointer;
  opacity: .6;
  transition-property: opacity;
  transition-duration: 350ms;
}