.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  box-sizing: border-box;
}

.modal__backdrop {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  box-sizing: border-box;
}

.modal__backdrop--visible {
  opacity: 1;
  box-sizing: border-box;
}

.projectModalWindow {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8vh;
  bottom: 7vh;
  width: 70vw;
  background: rgba(255, 255, 255, 0.95);
  z-index: 6;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 2px;
}

@media (max-width: 600px) {
  .projectModalWindow {
    bottom: 20px;
    left: 20px;
    right: 20px;
    top: 20px;
    width: auto;
  }
}

.projectModal-mediaSection {
  display: flex;
  flex-direction: column;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  position: relative;
}
.projectModal-bioSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}
.projectModal-bioSection-projectTitle {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  z-index: 3;
  font-size: 3vh;
  font-weight: 100;
  padding: 2vh 0 0 2vh;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}
.projectModal-bioSection-projectSubtitle {
  font-size: 1.2vh;
  margin-top: 0.6vh;
}
.bioSection-basicDetails {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 2vh 4vh;
}
.basicDetails-year,
.basicDetails-role,
.basicDetails-status {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
}
.detailPrefix {
  font-weight: 500;
  font-size: 1.2vh;
  text-transform: uppercase;
}
.detailSuffix {
  font-weight: 100;
  font-size: 1.6vh;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 1vh;
}
.bioSection-quotedDescription {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 1vw;
  line-height: 0;
  cursor: default;
  padding: 0 4vh 4vh 4vh;
}
.bioSection-bigQuotes {
  font-size: 3vw;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.bioSection-quotedText {
  display: flex;
  font-size: 1.6vh;
  color: #000000;
  font-weight: 100;
  letter-spacing: .3px;
  line-height: 3vh;
}
#startingQuote {
  text-align: left;
  transform: translateX(-7px);
  line-height: 100%;
}
#endingQuote {
  text-align: left;
  transform: translateX(-7px);
  line-height: 100%;
}

.skillsContentLeft-small {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 0.6vw;
  align-items: center;
}
.skillIcons-small {
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-width: 5vw;
  min-height: 5vw;
  max-width: 5vw;
  max-height: 5vw;
  overflow: hidden;
  line-height: 4vw;
  text-align: center;
  box-sizing: border-box;
  font-weight: 100;
  z-index: 1;
  cursor: default;
  padding: 2.5vw 0.4vw 0.2vw 0.4vw;
  margin: 6px 4px 2px 4px;
  transform: scale(1);
  transition-property: color opacity transform box-shadow;
  transition-duration: 200ms;
}
.skillname-small,
.skillyears-small {
  font-size: 2vh;
  text-align: left;
  padding-bottom: 3px;
}
.skillyears {
  opacity: 0;
  font-size: 1.5vw;
  color: rgba(255, 255, 255, 0.8);
  transition-property: opacity;
  transition-duration: 200ms;
}

.projectStatline {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  padding: 25px 20px 5px 20px;
  text-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.projectStatline-tech,
.projectStatline-credits,
.projectStatline-date,
.projectStatline-link {
  display: flex;
  box-sizing: border-box;
  line-height: 35px;
  min-height: 35px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 100;
  flex: 1;
}

.projectStat-catagory {
  color: rgba(255, 255, 255, 0.65);
}
.projectStat-catagoryContent {
  text-decoration: none;
  color: #fff;
  text-indent: 4px;
}

.projectDescription {
  display: flex;
  color: #fff;
  text-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  align-self: baseline;
  width: 30%;
  min-height: 30vh;
  margin: 8% 0 0 20px;
  font-size: 14px;
  line-height: 33px;
  font-weight: 100;
}

.go-to-project,
.go-to-project:hover,
.go-to-details,
.go-to-details:hover {
  border: 1px solid rgba(255, 255, 255, 0.705);
  display: flex;
  position: absolute;
  right: 2vh;
  padding: 0 15px;
  color: #fff;
  line-height: 3.2vh;
  height: 3.2vh;
  bottom: 2vh;
  text-align: center;
  text-transform: uppercase;
  z-index: 4;
  font-weight: 500;
  font-size: 1vh;
  letter-spacing: 1px;
  opacity: 0.7;
  transition-property: opacity border;
  transition-duration: 150ms;
}
.go-to-details,
.go-to-details:hover {
  left: 205px;
}
.go-to-project:hover {
  opacity: 1;
  border: 1px solid rgb(255, 255, 255);
}
.go-to-details:hover {
  opacity: 1;
  border: 1px solid rgb(204, 33, 33);
}
.projectHeading {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 25px;
  font-size: 26px;
  color: #fff;
  cursor: default;
  line-height: 25px;
  margin: 20px 0 0 30px;
}
.projectHeadingCharacters {
  padding-left: 20px;
  font-weight: 100;
  letter-spacing: 2px;
}
.projectHeadingPrefix {
  padding-left: 20px;
  font-weight: 100;
  opacity: 0.7;
  letter-spacing: 2px;
}
.modalCloseMessage {
  font-weight: 100;
  padding-left: 20px;
  letter-spacing: 1px;
  font-size: 14px;
  flex: 1;
  color: rgba(255, 255, 255, 0.75);
}
.projectDetailsSection {
  display: flex;
  height: 100%;
  width: 35%;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.slide {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 350ms;
}

.slide.visible {
  opacity: 1;
}
.projectExit {
  color: #fff;
  position: absolute;
  font-weight: 600;
  font-size: 2vh;
  right: 2vh;
  text-align: center;
  z-index: 3;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  top: 2vh;
}
.projectMediaSelector {
  bottom: 3vh;
  left: 2vh;
  margin-left: 2.2vw;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  z-index: 3;
  color: #fff;
  cursor: default;\
  align-items: center;
}
.projectMediaSelectorBubble,
.projectMediaSelectorBubble1-current,
.projectMediaSelectorBubble2-current,
.projectMediaSelectorBubble3-current,
.projectMediaSelectorBubble4-current,
.projectMediaSelectorBubble5-current,
.projectMediaSelectorBubble1,
.projectMediaSelectorBubble2,
.projectMediaSelectorBubble3,
.projectMediaSelectorBubble4,
.projectMediaSelectorBubble5 {
  display: inline-block;
  max-width: 1vw;
  max-height: 1vw;
  min-width: 1vw;
  min-height: 1vw;
  margin-right: 2.5vw;
  transition-property: transform background border;
  transition-duration: 200ms;
  border-radius: 1vw;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: none;
}
.projectMediaSelectorBubble:hover,
.projectMediaSelectorBubble1-current,
.projectMediaSelectorBubble2-current,
.projectMediaSelectorBubble3-current,
.projectMediaSelectorBubble4-current,
.projectMediaSelectorBubble5-current,
.projectMediaSelectorBubble1:hover,
.projectMediaSelectorBubble2:hover,
.projectMediaSelectorBubble3:hover,
.projectMediaSelectorBubble4:hover,
.projectMediaSelectorBubble5:hover {
  transform: scale(1.5);
  border-radius: 1.5vw;
  border: 1px solid rgba(255, 255, 255, 1);
  transition-property: transform background border;
  background: #fff;
  transition-duration: 500ms;
}
.projectMediaSelectorBubble1:hover,
.projectMediaSelectorBubble2:hover,
.projectMediaSelectorBubble3:hover,
.projectMediaSelectorBubble4:hover,
.projectMediaSelectorBubble5:hover {
  background: none;
}
