.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  box-sizing: border-box;
}
.aboutSectionTitle {
  background: linear-gradient(#07070a, transparent);
  text-transform: uppercase;
  font-weight: 200;
  font-size: 16px;
  text-align: left;
  padding: 25px 0 0 5vw;
  line-height: 70px;
  letter-spacing: 2px;
  width: 100%;
  height: 70px;
}

.aboutConditionalMedia {
  flex: 3;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.aboutInfoSelector {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  margin: 20vh 0 2vh;
  height: 38px;
  width: 100%;
}

.aboutContent {
  overflow: hidden;
  flex: 2;
}
.aboutSlider,
.aboutSlider-bio,
.aboutSlider-interests
 {
  display: flex;
  height: 100%;
  width: 300vw;
  min-width: 1800px;
  transform: translateX(-33.33%);
  transition-property: transform;
  transition-duration: 650ms;
}

.aboutSlider-bio {
  transform: translateX(0);
}

.aboutSlider-interests {
  transform: translateX(-66.66%);
}

.aboutBioContent,
.aboutSkillsContent,
.aboutInterestsContent {
  display: flex;
  flex-direction: column;
  cursor: default;
  flex: 1;
  padding: 40px 10vw;
  text-align: center;
  font-weight: 200;
  line-height: 28px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.skillSectionRow {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.aboutBioSelector,
.aboutSkillsSelector,
.aboutJobsSelector {
  flex: 1;
  text-align: center;
  font-weight: 200;
  font-size: 15px;
  letter-spacing: 2px;
  cursor: pointer;
}

.aboutInfoSelectorBar,
.aboutInfoSelectorBar-bio,
.aboutInfoSelectorBar-jobs {
  position: absolute;
  width: 33.3%;
  height: 1px;
  transform: translateX(100%) translateY(30px);
  background: #ffffff98;
  transition-property: transform;
  transition-duration: 550ms;  
}

.aboutInfoSelectorBar-bio {
  transform: translateX(0) translateY(30px);
}

.aboutInfoSelectorBar-jobs {
  transform: translateX(200%) translateY(30px);
}