/* About div - the whole damn thing */
  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box;
    background: linear-gradient(#07070a, transparent, #07070a);
  }
  .aboutSectionTitle {
    text-transform: uppercase;
    position: absolute;
    font-weight: 200;
    font-size: 16px;
    text-align: left;
    padding: 25px 0;
    left: 100px;
    right: 0;
    line-height: 70px;
    letter-spacing: 2px;
    height: 70px;
  }

  .aboutContentSelector {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 100px;
    font-size: 12px;
    transform: translateY(95px);
    z-index: 2;
  }

  .aboutSelector-skills,
  .aboutSelector-profile,
  .aboutSelector-interests {
    font-weight: 100;
    color: rgba(255,255,255,.6);
    margin-right: 20px;
    cursor: pointer;
    transition-property: color;
    transition-duration: 300ms;
  }
  .aboutSelector-skills-current,
  .aboutSelector-profile-current,
  .aboutSelector-interests-current {
    font-weight: 100;
    color: rgba(255,255,255,1);
    margin-right: 20px;
    cursor: pointer;
    transition-property: color;
    transition-duration: 300ms;
  }

  .aboutSectionContent-1 {
    display: flex;
    position: absolute;
    flex-direction: row;
    overflow: hiddenw;
    height: 100%;
    left: 100px;
    right: 100px;
  }

  .aboutSkills-profile,
  .aboutInterests-profile,
  .aboutProfile-profile,
  .aboutSkills-skills,
  .aboutInterests-skills,
  .aboutProfile-skills,
  .aboutSkills-interests,
  .aboutInterests-interests,
  .aboutProfile-interests {
    box-sizing: border-box;
    overflow: visible;
    padding-top: 155px;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition-property: transform opacity;
    transition-duration: 700ms;
  }

  .aboutSkills-profile,
  .aboutProfile-profile,
  .aboutInterests-profile {
    transform: translateX(-100%);
  }

  .aboutInterests-skills,
  .aboutProfile-skills,
  .aboutSkills-interests,
  .aboutProfile-interests,
  .aboutSkills-profile,
  .aboutInterests-profile {
    opacity: 0;
  }

  .aboutSkills-skills,
  .aboutInterests-skills,
  .aboutProfile-skills {
    transform: translateX(0px);
  }
  .aboutSkills-interests,
  .aboutInterests-interests,
  .aboutProfile-interests {
    transform: translateX(-200%);
  }

/* Profile Top - Collapse */
  .profile-leftSection {
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 150px;
    box-sizing: border-box;
    align-items: center;
  }
  .profile-pictureCircle {
    background-position: center;
    background-size: 160px 160px;
    overflow: hidden;
    box-sizing:border-box;
    width: 150px;
    height: 150px;
    border: 1px solid rgba(255,255,255,.1);
  }
  .profile-basicInfo {
    position: absolute;
    display: flex;
    transform: translateY(100px);
    left: 100px;
    width: 300px;
    justify-content: center;
    box-sizing: border-box;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    box-sizing: border-box;
    cursor: default;
  }
  .profile-basicInfo-name,
  .profile-basicInfo-birthdate,
  .profile-basicInfo-birthplace,
  .profile-basicInfo-proffession {
    font-weight: 100;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 2px;
  }
  #name2ndStyle {
    font-size: 15px;
    color: rgba(255,255,255,.6);
  }

  .profile-basicInfo-birthdate,
  .profile-basicInfo-birthplace,
  .profile-basicInfo-proffession {
    color: rgba(255,255,255,.6);
    height: 30px;
    line-height: 30px;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 2px;
  }
  
/* Profile Bottom - Collapse */
  .profile-rightSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
  }
  .leftRightDivider {
    align-self: left;
    margin-bottom: 10px;
    margin-left: 25px;
    height: 1px;
    width: 40vw;
    background: rgba(255,255,255,.25);
  }
  .profile-articleRegion {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .profile-basicInfo-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    flex: 1;
  }
  .profile-articleRegion-column1,
  .profile-articleRegion-column2,
  .profile-articleRegion-column3 {
    display: flex;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
  }
  #heading1,
  #heading2,
  #heading3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 100;
    color: rgba(255,255,255,.6);
    padding-bottom: 10px;
  }

  .column-text {
    margin-top: 20px;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-weight: 100;
    color: rgba(255,255,255,1);
    line-height: 38px;
    letter-spacing: 0;
  }

/* Skills stuff */
  .skillsContentContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .skillsContentLeft {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    transform: translateX(-4px);
    margin-bottom: 8px;
  }

  .skills-strengthsList {
    margin-top: 20px;
    font-weight: 100;
    font-size: 16;
    color: rgba(255,255,255,.6);
  }
  .skill-strength {
    margin: 5px 0 0 10px;
    font-size: 12;
    color: rgba(255,255,255,1);
  }

  .skillIcons,
  #HTML5,
  #CSS3,
  #Js,
  #Java,
  #iOS11,
  #Swift4 {
    display: flex;
    width: 9vw;
    height: 9vw;
    line-height: 9vw;
    text-align: center;
    box-sizing: border-box;
    font-size: smaller;
    font-weight: 100;
    padding: 1vw;
    border: 1px solid white;
    margin: 0 4px;
    cursor: default;
    opacity: 1;
    transform: scale(1);
    transition-property: color border opacity transform;
    transition-duration: 200ms;
  }

  #HTML5:hover,
  #CSS3:hover,
  #Js:hover,
  #Java:hover,
  #iOS11:hover,
  #Swift4:hover {
    transition-property: color border opacity transform;
    transition-duration: 200ms;
    color: #ffffff;
    border: 1px solid white;
    opacity: 1;
    transform: scale(1.05);
  }

  #HTML5 {
    color: rgba(245, 118, 0, 0.911);
    border: 1px solid rgba(245, 118, 0, 0.911);
  }
  #CSS3 {
    color: rgba(29, 202, 194, 0.911);
    border: 1px solid rgba(29, 202, 194, 0.911);
  }
  #Js {
    color: rgba(25, 161, 55, 0.911);
    border: 1px solid rgba(25, 161, 55, 0.911);
  }
  #Java {
    color: rgba(146, 26, 76, 0.911);
    border: 1px solid rgba(146, 26, 76, 0.911);
  }
  #iOS11 {
    color: rgba(111, 24, 182, 0.911);
    border: 1px solid rgba(111, 24, 182, 0.911);
  }
  #Swift4 {
    color: rgba(248, 244, 7, 0.918);
    border: 1px solid rgba(248, 244, 7, 0.918);
  }

  .scroll-to-portfolio,
  .scroll-to-portfolio:hover {
    position: absolute;
    left: 100px;
    color: rgba(255, 255, 255, 1);
    width: 140px;
    height: 45px;
    line-height: 45px;
    font-weight: 100;
    font-size: 15px;
    transform: translateY(85vh);
    cursor: pointer;
    opacity: .6;
    transition-property: opacity;
    transition-duration: 350ms;
  }
  .scroll-to-portfolio:hover {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 350ms;
  }


/* Interests stuff */