.navbar {
  display: flex;
  position: absolute;
  height: 70px;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  box-sizing: border-box;
  left: 8vw;
  right: 8vw;
}

.logo {
  background-position: center;
  background-size: 110px 110px;
  width: 70px;
  height: 70px;
  margin: 0;
  left: 0;
}

.button-space {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  background: transparent;
}