.welcome {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.welcome-left {
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 120px;
  max-width: 40vw;
  position: absolute;
  top: 70px;
  transform: translateX(0);
  transition: transform 250ms;
  z-index: 1001;
}

@media (max-width: 1000px) {
  .welcome-left {
    transform: translateX(-70px) /* 50px = 120px - 70px */;
  }
}

@media (max-width: 600px) {
  .welcome-left {
    bottom: 40vh;
    left: 50px;
    max-width: none;
    right: 50px;
    text-align: center;
    top: 120px;
    transform: translateX(0);
  }
}

.welcome-introduction {
  display: flex;
  flex-direction: column;
}

.welcome-greeting {
  margin-bottom: 10px;
}

.welcome-greeting,
.welcome-description {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 2px;
}

@media (max-width: 1000px) {
  .welcome-greeting,
  .welcome-description {
    font-size: 32px;
    letter-spacing: 1px;
  }
}

@media (max-width: 600px) {
  .welcome-greeting,
  .welcome-description {
    font-size: 3.5vh;
  }
}

.welcome-paragraph {
  width: 40vw;
  margin-top: 4vh;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 30px;
  cursor: default;
}

@media (max-width: 1000px) {
  .welcome-paragraph {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .welcome-paragraph {
    display: none;
  }
}

.welcome-links {
  display: flex;
  margin-top: 4vh;
}

@media (max-width: 600px) {
  .welcome-links {
    justify-content: center;
    margin-top: 20px;
  }
}

.welcome-link {
  color: #fff;
  font-weight: 100;
  font-size: 15px;
  line-height: 45px;
  min-width: 140px;
  min-height: 45px;
  opacity: 0.6;
  transition: opacity 350ms;
  text-decoration: none;
}

.welcome-link:hover {
  opacity: 1;
}

@media (max-width: 1000px) {
  .welcome-link {
    font-size: 13px;
    min-width: 120px;
  }
}

.welcome-right {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  min-width: 300px;
  position: absolute;
  right: 20px;
  top: 70px;
  z-index: 1000;
}

@media (max-width: 600px) {
  .welcome-right {
    align-items: initial;
    justify-content: initial;
    left: 0;
    right: 0;
    top: 50vh;
  }
}

.welcome-selfie {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 90vh;
  max-width: 90vh;
  min-height: 90vh;
  min-width: 90vh;
  position: relative;
  transform: translateX(0);
  transform-origin: bottom right;
  transition: transform 250ms;
}

@media (max-width: 1150px) {
  .welcome-selfie {
    transform: translateX(15%);
  }
}

@media (max-width: 850px) {
  .welcome-selfie {
    transform: translateX(30%);
  }
}

@media (max-width: 600px) {
  .welcome-selfie {
    background-size: contain;
    flex: 1;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    transform: translateX(0);
  }
}

.welcome-fade-overlay {
  background: linear-gradient(transparent, #07070a);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
