.welcome {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 70px 0 0 0;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 90vh 90vh;
  overflow: hidden;
  box-sizing: border-box;
}

.welcome-introduction {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 62vw;
  height: 80vh;
  min-width: 350px;
  left: 100px;
  right: 0;
  overflow: hidden;
  justify-content: center;
}

.welcome-greeting,
.welcome-description {
  display: inline-block;
  top: 15vh;
  width: 50vw;
  overflow: visible;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 2px;
  cursor: default;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.welcome-paragraph {
  width: 40vw;
  margin-top: 4vh;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 30px;
  cursor: default;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
}

.welcome-background {
  background-position: right;
  background-repeat: no-repeat;
  background-size: 70vh 70vh;
  width: 400px;
  height: 600px;
  margin: 0 0 0 1vw;
  right: 0;
  align-self: baseline;
}

.black-fade {
  display: flex;
  flex: 1;
  align-self: baseline;
  width: 100%;
  background: linear-gradient(transparent, #07070a);
}

.scroll-to-about,
.scroll-to-about:hover {
  position: absolute;
  left: 100px;
  bottom: 10vh;
  color: rgba(255, 255, 255, 1);
  width: 140px;
  height: 45px;
  line-height: 45px;
  font-weight: 100;
  font-size: 15px;
  cursor: pointer;
  opacity: .6;
  transition-property: opacity;
  transition-duration: 350ms;
}
.scroll-to-about:hover {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 350ms;
}
.download-resume {
  position: absolute;
  left: 240px;
  bottom: 10vh;
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: 45px;
  line-height: 45px;
  font-weight: 100;
  font-size: 15px;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 350ms;
  opacity: .6;
}
.download-resume:hover {
  transition-property: opacity;
  transition-duration: 350ms;
  opacity: 1;
}