.welcome {
  display: flex;
  position: relative;
}

.welcome-left {
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 120px;
  max-width: 40vw;
  position: absolute;
  top: 70px;
  z-index: 1001;
}

.welcome-introduction {
  display: flex;
  flex-direction: column;
}

.welcome-greeting,
.welcome-description {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 2px;
}

.welcome-paragraph {
  width: 40vw;
  margin-top: 4vh;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 30px;
  cursor: default;
}

.welcome-links {
  display: flex;
  margin-top: 4vh;
}

.welcome-link {
  color: #fff;
  cursor: pointer;
  font-weight: 100;
  font-size: 15px;
  line-height: 45px;
  min-width: 140px;
  min-height: 45px;
  opacity: .6;
  transition: opacity 350ms;
}

.welcome-link:hover {
  opacity: 1;
}

.welcome-right {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  min-width: 300px;
  position: absolute;
  right: 20px;
  top: 70px;
  z-index: 1000;
}

.welcome-selfie {
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 90vh;
  max-width: 90vh;
  min-height: 90vh;
  min-width: 90vh;
  position: relative;
}

.welcome-fade-overlay {
  background: linear-gradient(transparent, #07070a);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
