.nav-button {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 40px;
  max-height: 40px;
  max-width: 70px;
  min-height: 40px;
  min-width: 70px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .nav-button:first-child {
    margin-left: 0;
  }
}

.nav-button-label {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.hover-indicator {
  background: #fff;
  bottom: 0;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms;
}

.nav-button:hover .hover-indicator {
  transform: scaleX(1);
}
