.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  left: 0;
  top: 0;
  right: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  background: #07070a;
  box-sizing: border-box;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
