.footer {
  display: flex;
  flex-direction: column;
  height: 20vh;
  background: transparent;
  padding: 0 5vw 0 5vw;
}

.footerLogo {
  flex: 3;
  align-self: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110px 110px;
  height: 70px;
  width: 100%;
  left: 0;
}

.footerItems {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.footerCopyright,
.footerPhoneNumber,
.footerEmail,
.footerSocialMedia {
  cursor: default;
  color: rgb(206, 206, 206);
  text-align: center;
  font-size: 11px;
  font-weight: 200;
  letter-spacing: 1px;
  flex: 1;
  transition-property: color;
  transition-duration: 450ms;
}

.footerCopyright:hover,
.footerPhoneNumber:hover,
.footerEmail:hover
{
  color: rgb(255, 255, 255);
}

.footerSocialMedia span {
  font-weight: 500;
  display: inline-block;
}

#babyBlueSpanDot {
 color: rgb(0, 190, 248);
 font-size: 14px;
}
#darkBlueSpanDot {
  color: rgb(20, 19, 97);
  font-size: 14px;
}
#greyPurpSpanDot {
  color: rgb(101, 31, 141);
  font-size: 14px;
}
#feintOrangeSpanDot {
  color: rgba(255, 153, 0, 0.7);
  font-size: 14px;
}